{% extends 'PotentialUnleashed/base.html' %}
{% load static %}
{% block title %} Mesocycles {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'PotentialUnleashed/mesocycles.css' %}"> {% endblock %}


{% block body %}

<div class="container my-5">

    <h1 class="banner text-center text-white boldonse-regular mb-3">Mesocycles</h1>
    
    {% if mesocycles %}

        <ol class="list-group">
            {% for mesocycle in mesocycles %}

                {% if mesocycle == current_mesocycle %}
                    <li class="list-group-item fira-sans-regular "> 
                        <a href="{% url 'Potential_Unleashed:workoutsPerMesocycle' mesocycle_id=mesocycle.id %}">{{ mesocycle }} - Current Training Block</a>
                    </li>   
                {% else %}
                    <li class="list-group-item fira-sans-regular "> 
                        <a href="{% url 'Potential_Unleashed:workoutsPerMesocycle' mesocycle_id=mesocycle.id %}">{{ mesocycle }}</a>
                    </li>                       
                {% endif %}

                         
            {% endfor %}

        </ol>
        
        <div class="card-container container">
            
            <div class="card boldonse-regular full-card text-center">
                Workouts Completed: {{ workoutsCompleted }}
            </div>

            <div class="half-card-container">
                <div class="card border  border-black boldonse-regular half-card text-center">
                    Start Date: {{ mesocycleStartDate }}
                </div>

                <div class="card border  border-black boldonse-regular half-card text-center">
                    End Date: {{ mesocycleEndDate }}
                </div>
            </div>
        
        </div>


        <div class="container">
            <!-- Ash this will consume a lot of space  -->
            <div class="notes-container ">
                <p class="boldonse-regular">
                    {{ mesocycleNotes }}
                </p>                
            </div>

        </div>

    {% else %}
        <h1 class="text-center fs-1">Please return to the homepage</h1>
        <a href="#" class="btn btn-lg btn-primary text-center">Home</a>
    {% endif %}

</div>

{% endblock %}