
/* html, body {
    height: 100%;
} */

/* Styles */


body {
    /* margin: 0;
    background: linear-gradient(0deg, #000000, #3D0000);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh; */

    background-color: #0B1020;
}

.navbar 
{
    background: #000000;
    padding: 12px;
}


.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-brand 
{
    color: #FFFFFF;
}

#navbar-toggler:hover
{
    color: #FFFFFF;
}

.navbar-nav,
.nav-item,
.nav-link,
.active {
    color: #FFFFFF;
}

.navbar-brand:hover,
.navbar-nav:hover,
.nav-item:hover,
.nav-link:hover,
.active:hover {
    color: #42E2B8;
}


