.list-group 
{
    background-color: black;
}

.list-group-item,
.list-group-item a 
{
    background-color: black;    
    color: white;
}

.list-group-item a:hover
{
    color: #2CDA9D;
}

.card-container 
{
    margin-top: 2rem;
}

.card-container .card 
{
    /* background-color: #b09e94; */
    background-color: #000000;    
    color:white;

}

.card-container .full-card 
{
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid black;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.card-container .half-card-container 
{
    display: flex;
    justify-content: space-evenly;
    gap: 1px;
}

.card-container .half-card-container .half-card 
{
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
}

.card-container .card:hover 
{
    color:#2CDA9D;
}

.notes-container 
{
    margin-top: 2rem;   
    border-radius: 6px;
    background-color: #000000;
}

.notes-container p 
{
    color: white;
    padding: 1rem 0.5rem;
    text-align: center;
}

.note-container:hover
{
    color:#2CDA9D;
}